header {
  position: sticky;
  top: 0;
  z-index: 99;
  div {
    p {
      font-size: 10px;
      font-weight: 700;
      color: white;
      text-align: center;
      margin-bottom: 10px;
      padding: 5px;
      background-color: rgba(0, 0, 0, 0.705);
    }
  }
}
