//* SECCION BANNER-HERO
.banner {
  width: 100%;
  height: calc(100vh - 120px);
  color: $color-banner;
  background-image: url(../img/banner3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .descuentos-hasta {
    font-family: $banner-font;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: $color-banner;
  }
  .cinc-off {
    font-family: $banner-font-dos;
    font-weight: 400;
    font-size: 90px;
    color: $color-banner;
    transition: 0.5s;
    text-shadow: 2px 2px 4px rgba(42, 42, 42, 0.497);
    &:hover {
      transform: scale(1.2);
    }
  }
  .prod-selec {
    font-family: $banner-font;
    font-weight: 400;
    font-size: 14px;
    color: $color-banner;
  }
}

//*SECCION CONOCE NUESTROS PRODUCTOS
section {
  h2 {
    font-size: 2em;
    color: $color-body;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
  .producto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    article {
      margin-left: 20px;
      margin-right: 20px;
      a {
        @extend %enlaces;
        img {
          width: 90%;
          height: 70.04vh;
          margin: 20px;
          transition: 1s;
          &:hover {
            transform: scale(1.07);
          }
        }
      }
    }
  }
  h3 {
    font-size: 1.8em;
  }
  p {
    color: $color-body;
    font-size: 1.1em;
  }
}

//*SECCION PROMOCIONES
.container-sale {
  margin-top: 20px;
  display: flex;
  height: 80vh;
  .sale {
    background-image: url(../img/sale2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 60%;
    margin-right: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    h2 {
      font-family: $banner-font-dos;
      text-align: center;
      font-size: 5em;
      transition: 0.8s;
      text-shadow: 2px 2px 4px rgba(77, 77, 77, 0.5);
      &:hover {
        transform: scale(1.2);
      }
      a {
        color: white;
        @extend %enlaces;
      }
    }
  }
}

//* SECCION INFORMATIVA Y DE CONTACTO

.info-section {
  color: $color-backg;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  text-align: center;
  div {
    h2 {
      color: $color-body;
      font-size: 1.4em;
    }
    .info-justify {
      padding: 30px;
    }

    button {
      a {
        @extend %enlaces;
      }
      height: 40px;
      width: 130px;
      font-size: 14px;
      font-weight: 700;
      text-align: center;
      @extend %botones;
    }
  }
  .img-info {
    img {
      margin-right: 5px;
    }
  }
}
