.about-us {
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding: 20px;
  color: $color-body;
  p {
    margin-bottom: 20px;
    line-height: 1.8;
    font-size: 1.1em;
  }
  .about-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  }
}
